<a href="https://colab.research.google.com/github/Promisekel/Python-Projects/blob/main/hp_selfcare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [128]:
# @title Import Pandas
#!pip install pandas # install the pandas module
import pandas as pd # import the pandas module using the correct name

In [129]:
# @title import dataset
#import dataset from google drive
#hp_selfcrae = pd.read_excel("https://docs.google.com/spreadsheets/d/11B-1RrsMW7oP6UTPqfCxpASSbIxYs4mB/export?format=xlsx", engine='openpyxl') # read the excel file from the url, explicitly specifying the engine
hp_selfcrae = pd.read_excel("/content/hpselcaredataset.xlsx")
df_selfcare = pd.DataFrame(hp_selfcrae)

In [130]:
# @title Describe Dataset
#explore dataset
df_selfcare.shape
df_selfcare.head()
df_selfcare.describe()
df_selfcare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 45 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   age                                                  250 non-null    object
 1   gender                                               250 non-null    object
 2   religion                                             250 non-null    object
 3   marital_status                                       250 non-null    object
 4   residence                                            250 non-null    object
 5   educational_status                                   250 non-null    object
 6   occupation                                           250 non-null    object
 7   history_of_hp                                        250 non-null    object
 8   family_hp                                            250 non-null    object
 9   comorbidities                                        250 non-null    object
 10  bmi                                                  250 non-null    object
 11  bp_apparatus_home                                    250 non-null    object
 12  has_antihypertensive_med                             250 non-null    object
 13  bp_controled                                         250 non-null    object
 14  engage_selfcare_practice                             250 non-null    object
 15  smoker                                               250 non-null    object
 16  alcoholic                                            250 non-null    object
 17  manage_weight_tru_diet                               250 non-null    object
 18  follow_low_salt_diet                                 250 non-null    object
 19  physical_activity                                    250 non-null    object
 20  use_stress_mgt_tec_hp                                250 non-null    object
 21  visit_health_facility_check_ups                      250 non-null    object
 22  often_checkup                                        250 non-null    object
 23  hp_serious_lead_to_complication                      250 non-null    object
 24  overweight_riskfactor_hp                             250 non-null    object
 25  salt_consump_raises_bp                               250 non-null    object
 26  physical exercise_reduce_bp                          250 non-null    object
 27  smoking_has_neg_effect_hp                            250 non-null    object
 28  alcohol_neg_impact_hp                                250 non-null    object
 29  fruits_vegetables_good_hp                            250 non-null    object
 30  check_ups_effective mgt_hp                           250 non-null    object
 31  stress mgt_benefit_hp                                250 non-null    object
 32  taking_prescrib_med_control_hp                       250 non-null    object
 33  hp_home_regu_monit_import_hp_mgt                     250 non-null    object
 34  lack_kndge_abt_hp_selfcare_prac                      250 non-null    object
 35  limitedaccess_healthcservices_hinders_hp_selfcare    250 non-null    object
 36  financialconstraints_impact_selfcare practices_hp    250 non-null    object
 37  comorbidity_contributes_poor_selfcare_prac           250 non-null    object
 38  hp_familyhistory_contributes_poor_self_care_prac     250 non-null    object
 39  underweight_contributes_poor self_care_prac          250 non-null    object
 40  normal_bmi_contributes_poor_selfcare_prac            250 non-null    object
 41  overweight_contributes_poor_selfcare_prac            250 non-null    object
 42  shot_long_hp_dura_contrib_poor selfcare_prac         250 non-null    object
 43  miss_followup_appoint_hp_contrib_poor_selfcare_prac  250 non-null    object
 44  Unnamed: 44                                          1 non-null      object
dtypes: object(45)
memory usage: 88.0+ KB



---


**DEMOGRAPHIC X'TICS (Frequency and percentage)**

---

In [131]:
# @markdown Age
df_selfcare['age'].value_counts(),df_selfcare['age'].value_counts(normalize=True)*100

(age
 ≥70        67
 40 - 49    49
 50 - 59    46
 30 - 39    44
 60 - 69    29
 20 - 29    15
 Name: count, dtype: int64,
 age
 ≥70        26.8
 40 - 49    19.6
 50 - 59    18.4
 30 - 39    17.6
 60 - 69    11.6
 20 - 29     6.0
 Name: proportion, dtype: float64)

In [132]:
  # @markdown Gender
df_selfcare['gender'].value_counts(),df_selfcare['gender'].value_counts(normalize=True)*100

(gender
 Female    150
 Male      100
 Name: count, dtype: int64,
 gender
 Female    60.0
 Male      40.0
 Name: proportion, dtype: float64)

In [133]:
  # @markdown Religion
df_selfcare['religion'].value_counts(),df_selfcare['religion'].value_counts(normalize=True)*100

#clean religion : combine athelist and no religion with traditioal rligion
df_selfcare['religion_new'] = df_selfcare['religion'].replace({'Atheist ' : 'Traditional','No religion ' : 'Traditional'}) # remove extra space in "Atheist "
df_selfcare['religion_new'].unique() #shows the levels or cateh=gories
#df_selfcare.drop('column_name', axis=1, inplace=True) #axis=1 (drop a colunm), axis=0 (drop a row)
df_selfcare['religion_new'].value_counts()

religion_new
Christian      174
Muslim          54
Traditional     22
Name: count, dtype: int64

In [134]:

  # @markdown Marital Status
df_selfcare['marital_status'].value_counts(),df_selfcare['marital_status'].value_counts(normalize=True)*100

(marital_status
 Married      118
 Widow         64
 Unmarried     40
 Divorced      28
 Name: count, dtype: int64,
 marital_status
 Married      47.2
 Widow        25.6
 Unmarried    16.0
 Divorced     11.2
 Name: proportion, dtype: float64)

In [135]:
  # @markdown occupation
df_selfcare["occupation"].value_counts(),df_selfcare['occupation'].value_counts(normalize=True)*100

(occupation
 Self employed          85
 Retired                48
 Unemployed             38
 Government employee    36
 private employment     32
 Student                11
 Name: count, dtype: int64,
 occupation
 Self employed          34.0
 Retired                19.2
 Unemployed             15.2
 Government employee    14.4
 private employment     12.8
 Student                 4.4
 Name: proportion, dtype: float64)

In [136]:

  # @markdown Education Level
df_selfcare['educational_status'].value_counts(),df_selfcare['educational_status'].value_counts(normalize=True)*100

(educational_status
 Secondary education    79
 Basic education        64
 Tertiary education     57
 no formal education    50
 Name: count, dtype: int64,
 educational_status
 Secondary education    31.6
 Basic education        25.6
 Tertiary education     22.8
 no formal education    20.0
 Name: proportion, dtype: float64)

In [137]:
  # @markdown history_of_hp
df_selfcare['history_of_hp'].value_counts(),df_selfcare['history_of_hp'].value_counts(normalize=True)*100

(history_of_hp
 ≤5years       124
 6-10 years     86
 >10 years      40
 Name: count, dtype: int64,
 history_of_hp
 ≤5years       49.6
 6-10 years    34.4
 >10 years     16.0
 Name: proportion, dtype: float64)

In [138]:
# @markdown comorbidities
df_selfcare['family_hp'].value_counts(),df_selfcare['family_hp'].value_counts(normalize=True)*100
df_selfcare['family_hp_new'] = df_selfcare['family_hp'].replace({'cant_tell' : 'No'})
df_selfcare['family_hp_new'].unique()
df_selfcare['family_hp_new'].value_counts()

family_hp_new
Yes    129
No     121
Name: count, dtype: int64

In [139]:
  # @markdown comorbidities
df_selfcare['comorbidities'].value_counts(),df_selfcare['comorbidities'].value_counts(normalize=True)*100

(comorbidities
 No     145
 Yes    105
 Name: count, dtype: int64,
 comorbidities
 No     58.0
 Yes    42.0
 Name: proportion, dtype: float64)

In [140]:
  # @markdown bmi
df_selfcare['bmi'].value_counts(),df_selfcare['bmi'].value_counts(normalize=True)*100

(bmi
 Normal weight/ 18.5–24.9    147
 Over weight/ 25–29.9         66
 Underweight/ < 18.5          23
 Obese/ ≥ 30                  14
 Name: count, dtype: int64,
 bmi
 Normal weight/ 18.5–24.9    58.8
 Over weight/ 25–29.9        26.4
 Underweight/ < 18.5          9.2
 Obese/ ≥ 30                  5.6
 Name: proportion, dtype: float64)

---
**TABLE 2: LIFESTYLE AND HABITS**


---

In [141]:
  # @markdown Smoking
df_selfcare['bp_apparatus_home'].value_counts(),df_selfcare['bp_apparatus_home'].value_counts(normalize=True)*100

#combine "Not certain" with "No"
df_selfcare['bp_apparatus_home_new'] = df_selfcare['bp_apparatus_home'].replace({'Not certain' : 'No'})
df_selfcare['bp_apparatus_home_new'].unique()
df_selfcare['bp_apparatus_home_new'].value_counts()

bp_apparatus_home_new
No     188
Yes     62
Name: count, dtype: int64

In [142]:
  # @markdown bp_apparatus_home
df_selfcare['bp_apparatus_home'].value_counts(),df_selfcare['bp_apparatus_home'].value_counts(normalize=True)*100

#combine "Not certain" with "No"
df_selfcare['bp_apparatus_home_new'] = df_selfcare['bp_apparatus_home'].replace({'Not certain' : 'No'})
df_selfcare['bp_apparatus_home_new'].unique()
df_selfcare['bp_apparatus_home_new'].value_counts()

bp_apparatus_home_new
No     188
Yes     62
Name: count, dtype: int64

In [143]:
    # @markdown has_anti-hypertensive_med
df_selfcare['has_antihypertensive_med'].value_counts(),df_selfcare['has_antihypertensive_med'].value_counts(normalize=True)*100

  #combine "Not certain" with "No"
df_selfcare['has_antihypertensive_med_new'] = df_selfcare['has_antihypertensive_med'].replace({'Not certain' : 'No'})
df_selfcare['has_antihypertensive_med_new'].unique()
df_selfcare['has_antihypertensive_med_new'].value_counts()

has_antihypertensive_med_new
Yes    192
No      58
Name: count, dtype: int64

In [144]:
  # @markdown bp_controled
df_selfcare['bp_controled'].value_counts(),df_selfcare['bp_controled'].value_counts(normalize=True)*100

#combine "Not certain" with "No"
df_selfcare['bp_controled_new'] = df_selfcare['bp_controled'].replace({'Not certain' : 'No'})
df_selfcare['bp_controled_new'].unique()
df_selfcare['bp_controled_new'].value_counts()

bp_controled_new
Yes    137
No     113
Name: count, dtype: int64

In [145]:
  # @markdown engage_selfcare_practice
df_selfcare['engage_selfcare_practice'].value_counts(),df_selfcare['engage_selfcare_practice'].value_counts(normalize=True)*100

#combine "Not certain" with "No"
df_selfcare['engage_selfcare_practice_new'] = df_selfcare['engage_selfcare_practice'].replace({'Not certain' : 'No'})
df_selfcare['engage_selfcare_practice_new'].unique()
df_selfcare['engage_selfcare_practice_new'].value_counts(normalize=True)*100

engage_selfcare_practice_new
No     50.8
Yes    49.2
Name: proportion, dtype: float64

In [146]:
  # @markdown smoker
df_selfcare['smoker'].value_counts(),df_selfcare['smoker'].value_counts(normalize=True)*100
df_selfcare['smoker_new'] = df_selfcare['smoker'].replace({'Not certain' : 'No'})
df_selfcare['smoker_new'].unique()
df_selfcare['smoker_new'].value_counts()

smoker_new
No     219
Yes     31
Name: count, dtype: int64

In [147]:
  # @markdown alcoholic
df_selfcare['alcoholic'].value_counts(),df_selfcare['alcoholic'].value_counts(normalize=True)*100
df_selfcare['alcoholic_new'] = df_selfcare['alcoholic'].replace({'Not certain' : 'No'})
df_selfcare['alcoholic_new'].unique()
df_selfcare['alcoholic_new'].value_counts()

alcoholic_new
No     151
Yes     99
Name: count, dtype: int64

In [148]:
  # @markdown manage_weight_tru_diet
df_selfcare['manage_weight_tru_diet'].value_counts(),df_selfcare['manage_weight_tru_diet'].value_counts(normalize=True)*100
df_selfcare['manage_weight_tru_diet_new'] = df_selfcare['manage_weight_tru_diet'].replace({'Not certain' : 'No'})
df_selfcare['manage_weight_tru_diet_new'].value_counts()

manage_weight_tru_diet_new
No     157
Yes     93
Name: count, dtype: int64

In [149]:
  # @markdown follow_low_salt_diet
df_selfcare['follow_low_salt_diet'].value_counts(),df_selfcare['follow_low_salt_diet'].value_counts(normalize=True)*100
df_selfcare['follow_low_salt_diet_new'] = df_selfcare['follow_low_salt_diet'].replace({'Not certain' : 'No'})
df_selfcare['follow_low_salt_diet_new'].value_counts()

follow_low_salt_diet_new
Yes    139
No     111
Name: count, dtype: int64

In [150]:
  # @markdown physical_activity
df_selfcare['physical_activity'].value_counts(),df_selfcare['physical_activity'].value_counts(normalize=True)*100
df_selfcare['physical_activity_new'] = df_selfcare['physical_activity'].replace({'Not certain' : 'No'})
df_selfcare['physical_activity_new'].value_counts()

physical_activity_new
Yes    139
No     111
Name: count, dtype: int64

In [151]:
  # @markdown use_stress_mgt_tec_hp
df_selfcare['use_stress_mgt_tec_hp'].value_counts(),df_selfcare['use_stress_mgt_tec_hp'].value_counts(normalize=True)*100
df_selfcare['use_stress_mgt_tec_hp_new'] = df_selfcare['use_stress_mgt_tec_hp'].replace({'Not certain' : 'No' ,'Strongly Agree' : 'No'})
df_selfcare['use_stress_mgt_tec_hp_new'].value_counts()

use_stress_mgt_tec_hp_new
No     157
Yes     93
Name: count, dtype: int64

In [152]:
  # @markdown visit_health_facility_check_ups
df_selfcare['visit_health_facility_check_ups'].value_counts(),df_selfcare['visit_health_facility_check_ups'].value_counts(normalize=True)*100


df_selfcare['visit_health_facility_check_ups_new'] = df_selfcare['visit_health_facility_check_ups'].replace({'Not certain' : 'No'})
df_selfcare['visit_health_facility_check_ups_new'].value_counts()

visit_health_facility_check_ups_new
Yes    171
No      79
Name: count, dtype: int64

In [153]:
# @markdown often_checkup
df_selfcare['often_checkup'].value_counts(),df_selfcare['often_checkup'].value_counts(normalize=True)*100

(often_checkup
 Monthly    129
 Rarely      82
 Weekly      30
 Daily        9
 Name: count, dtype: int64,
 often_checkup
 Monthly    51.6
 Rarely     32.8
 Weekly     12.0
 Daily       3.6
 Name: proportion, dtype: float64)



---
**LEVEL OF KNOWLEDGE REGARDING HYPERTENSION SELF-CARE PRACTICES**


---

In [154]:
    # @markdown hp_serious_lead_to_complication
df_selfcare['hp_serious_lead_to_complication'].value_counts(),df_selfcare['hp_serious_lead_to_complication'].value_counts(normalize=True)*100

#
df_selfcare['hp_serious_lead_to_complication_new'] = df_selfcare['hp_serious_lead_to_complication'].ty replace({'Not certain' : 'No'})
df_selfcare['hp_serious_lead_to_complication_new'].value_counts()

(hp_serious_lead_to_complication
 Strongly Agree       117
 Agree                 72
 Disagree              34
 Strongly Disagree     27
 Name: count, dtype: int64,
 hp_serious_lead_to_complication
 Strongly Agree       46.8
 Agree                28.8
 Disagree             13.6
 Strongly Disagree    10.8
 Name: proportion, dtype: float64)

In [155]:
# @markdown overweight_riskfactor_hp
df_selfcare['overweight_riskfactor_hp'].value_counts(), df_selfcare['overweight_riskfactor_hp'].value_counts(normalize=True)*100

(overweight_riskfactor_hp
 Strongly Agree       97
 Agree                81
 Disagree             48
 Strongly Disagree    24
 Name: count, dtype: int64,
 overweight_riskfactor_hp
 Strongly Agree       38.8
 Agree                32.4
 Disagree             19.2
 Strongly Disagree     9.6
 Name: proportion, dtype: float64)

In [156]:
  # @markdown hp_serious_lead_to_complication
df_selfcare['salt_consump_raises_bp'].value_counts(),df_selfcare['salt_consump_raises_bp'].value_counts(normalize=True)*100

(salt_consump_raises_bp
 Agree                96
 Strongly Agree       75
 Disagree             61
 Strongly Disagree    18
 Name: count, dtype: int64,
 salt_consump_raises_bp
 Agree                38.4
 Strongly Agree       30.0
 Disagree             24.4
 Strongly Disagree     7.2
 Name: proportion, dtype: float64)

In [157]:
    # @markdown physical exercise_reduce_bp
df_selfcare['physical exercise_reduce_bp'].value_counts(),df_selfcare['physical exercise_reduce_bp'].value_counts(normalize=True)*100

(physical exercise_reduce_bp
 Agree                100
 Strongly Agree        86
 Disagree              49
 Strongly Disagree     15
 Name: count, dtype: int64,
 physical exercise_reduce_bp
 Agree                40.0
 Strongly Agree       34.4
 Disagree             19.6
 Strongly Disagree     6.0
 Name: proportion, dtype: float64)

In [158]:
    # @markdown smoking_has_neg_effect_hp
df_selfcare['smoking_has_neg_effect_hp'].value_counts(),df_selfcare['smoking_has_neg_effect_hp'].value_counts(normalize=True)*100

(smoking_has_neg_effect_hp
 Strongly Agree       98
 Agree                77
 Disagree             52
 Strongly Disagree    23
 Name: count, dtype: int64,
 smoking_has_neg_effect_hp
 Strongly Agree       39.2
 Agree                30.8
 Disagree             20.8
 Strongly Disagree     9.2
 Name: proportion, dtype: float64)

In [159]:
    # @markdown alcohol_neg_impact_hp
df_selfcare['alcohol_neg_impact_hp'].value_counts(),df_selfcare['alcohol_neg_impact_hp'].value_counts(normalize=True)*100

(alcohol_neg_impact_hp
 Strongly Agree       94
 Agree                77
 Disagree             52
 Strongly Disagree    27
 Name: count, dtype: int64,
 alcohol_neg_impact_hp
 Strongly Agree       37.6
 Agree                30.8
 Disagree             20.8
 Strongly Disagree    10.8
 Name: proportion, dtype: float64)

In [160]:
    # @markdown fruits_vegetables_good_hp
df_selfcare['fruits_vegetables_good_hp'].value_counts(),df_selfcare['fruits_vegetables_good_hp'].value_counts(normalize=True)*100

(fruits_vegetables_good_hp
 Strongly Agree       104
 Agree                 93
 Disagree              47
 Strongly Disagree      6
 Name: count, dtype: int64,
 fruits_vegetables_good_hp
 Strongly Agree       41.6
 Agree                37.2
 Disagree             18.8
 Strongly Disagree     2.4
 Name: proportion, dtype: float64)

In [161]:
    # @markdown check_ups_effective mgt_hp
df_selfcare['check_ups_effective mgt_hp'].value_counts(),df_selfcare['check_ups_effective mgt_hp'].value_counts(normalize=True)*100

(check_ups_effective mgt_hp
 Strongly Agree       122
 Agree                 94
 Disagree              26
 Strongly Disagree      8
 Name: count, dtype: int64,
 check_ups_effective mgt_hp
 Strongly Agree       48.8
 Agree                37.6
 Disagree             10.4
 Strongly Disagree     3.2
 Name: proportion, dtype: float64)

In [162]:
    # @markdown stress mgt_benefit_hp
df_selfcare['stress mgt_benefit_hp'].value_counts(),df_selfcare['stress mgt_benefit_hp'].value_counts(normalize=True)*100

(stress mgt_benefit_hp
 Agree                90
 Strongly Agree       85
 Disagree             63
 Strongly Disagree    12
 Name: count, dtype: int64,
 stress mgt_benefit_hp
 Agree                36.0
 Strongly Agree       34.0
 Disagree             25.2
 Strongly Disagree     4.8
 Name: proportion, dtype: float64)

In [163]:
    # @markdown taking_prescrib_med_control_hp
df_selfcare['taking_prescrib_med_control_hp'].value_counts(),df_selfcare['taking_prescrib_med_control_hp'].value_counts(normalize=True)*100

(taking_prescrib_med_control_hp
 Strongly Agree       111
 Agree                 99
 Disagree              27
 Strongly Disagree     13
 Name: count, dtype: int64,
 taking_prescrib_med_control_hp
 Strongly Agree       44.4
 Agree                39.6
 Disagree             10.8
 Strongly Disagree     5.2
 Name: proportion, dtype: float64)

In [164]:
    # @markdown hp_home_regu_monit_import_hp_mgt
df_selfcare['hp_home_regu_monit_import_hp_mgt'].value_counts(),df_selfcare['hp_home_regu_monit_import_hp_mgt'].value_counts(normalize=True)*100

(hp_home_regu_monit_import_hp_mgt
 Agree                103
 Strongly Agree       102
 Disagree              29
 Strongly Disagree     16
 Name: count, dtype: int64,
 hp_home_regu_monit_import_hp_mgt
 Agree                41.2
 Strongly Agree       40.8
 Disagree             11.6
 Strongly Disagree     6.4
 Name: proportion, dtype: float64)



---
**TABLE 3: FACTORS CONTRIBUTING TO SELF-CARE PRACTICES**

---

In [165]:
    # @markdown lack_kndge_abt_hp_selfcare_prac
df_selfcare['lack_kndge_abt_hp_selfcare_prac'].value_counts(),df_selfcare['lack_kndge_abt_hp_selfcare_prac'].value_counts(normalize=True)*100

(lack_kndge_abt_hp_selfcare_prac
 Agree                77
 Strongly Agree       77
 Disagree             53
 Strongly Disagree    43
 Name: count, dtype: int64,
 lack_kndge_abt_hp_selfcare_prac
 Agree                30.8
 Strongly Agree       30.8
 Disagree             21.2
 Strongly Disagree    17.2
 Name: proportion, dtype: float64)

In [166]:
    # @markdown limitedaccess_healthcservices_hinders_hp_selfcare
df_selfcare['limitedaccess_healthcservices_hinders_hp_selfcare'].value_counts(),df_selfcare['limitedaccess_healthcservices_hinders_hp_selfcare'].value_counts(normalize=True)*100

(limitedaccess_healthcservices_hinders_hp_selfcare
 Agree                100
 Strongly Agree        97
 Disagree              43
 Strongly Disagree     10
 Name: count, dtype: int64,
 limitedaccess_healthcservices_hinders_hp_selfcare
 Agree                40.0
 Strongly Agree       38.8
 Disagree             17.2
 Strongly Disagree     4.0
 Name: proportion, dtype: float64)

In [167]:
    # @markdown financialconstraints_impact_selfcare practices_hp
df_selfcare['financialconstraints_impact_selfcare practices_hp'].value_counts(),df_selfcare['financialconstraints_impact_selfcare practices_hp'].value_counts(normalize=True)*100

(financialconstraints_impact_selfcare practices_hp
 Strongly Agree       119
 Agree                 87
 Disagree              28
 Strongly Disagree     16
 Name: count, dtype: int64,
 financialconstraints_impact_selfcare practices_hp
 Strongly Agree       47.6
 Agree                34.8
 Disagree             11.2
 Strongly Disagree     6.4
 Name: proportion, dtype: float64)

In [168]:
      # @markdown comorbidity_contributes_poor_selfcare_prac
df_selfcare['comorbidity_contributes_poor_selfcare_prac'].value_counts(),df_selfcare['comorbidity_contributes_poor_selfcare_prac'].value_counts(normalize=True)*100

(comorbidity_contributes_poor_selfcare_prac
 Strongly Agree       85
 Agree                66
 Disagree             66
 Strongly Disagree    33
 Name: count, dtype: int64,
 comorbidity_contributes_poor_selfcare_prac
 Strongly Agree       34.0
 Agree                26.4
 Disagree             26.4
 Strongly Disagree    13.2
 Name: proportion, dtype: float64)

In [169]:
    # @markdown hp_familyhistory_contributes_poor_self_care_prac
df_selfcare['hp_familyhistory_contributes_poor_self_care_prac'].value_counts(),df_selfcare['hp_familyhistory_contributes_poor_self_care_prac'].value_counts(normalize=True)*100

(hp_familyhistory_contributes_poor_self_care_prac
 Disagree             100
 Strongly Disagree     57
 Strongly Agree        52
 Agree                 41
 Name: count, dtype: int64,
 hp_familyhistory_contributes_poor_self_care_prac
 Disagree             40.0
 Strongly Disagree    22.8
 Strongly Agree       20.8
 Agree                16.4
 Name: proportion, dtype: float64)

In [170]:
    # @markdown underweight_contributes_poor self_care_prac
df_selfcare['underweight_contributes_poor self_care_prac'].value_counts(),df_selfcare['underweight_contributes_poor self_care_prac'].value_counts(normalize=True)*100

(underweight_contributes_poor self_care_prac
 Disagree             124
 Strongly Disagree     59
 Agree                 35
 Strongly Agree        32
 Name: count, dtype: int64,
 underweight_contributes_poor self_care_prac
 Disagree             49.6
 Strongly Disagree    23.6
 Agree                14.0
 Strongly Agree       12.8
 Name: proportion, dtype: float64)

In [171]:
    # @markdown normal_bmi_contributes_poor_selfcare_prac
df_selfcare['normal_bmi_contributes_poor_selfcare_prac'].value_counts(),df_selfcare['normal_bmi_contributes_poor_selfcare_prac'].value_counts(normalize=True)*100

(normal_bmi_contributes_poor_selfcare_prac
 Disagree             122
 Strongly Disagree     63
 Agree                 33
 Strongly Agree        32
 Name: count, dtype: int64,
 normal_bmi_contributes_poor_selfcare_prac
 Disagree             48.8
 Strongly Disagree    25.2
 Agree                13.2
 Strongly Agree       12.8
 Name: proportion, dtype: float64)

In [172]:
    # @markdown overweight_contributes_poor_selfcare_prac
df_selfcare['overweight_contributes_poor_selfcare_prac'].value_counts(),df_selfcare['overweight_contributes_poor_selfcare_prac'].value_counts(normalize=True)*100

(overweight_contributes_poor_selfcare_prac
 Agree                80
 Disagree             71
 Strongly Agree       59
 Strongly Disagree    40
 Name: count, dtype: int64,
 overweight_contributes_poor_selfcare_prac
 Agree                32.0
 Disagree             28.4
 Strongly Agree       23.6
 Strongly Disagree    16.0
 Name: proportion, dtype: float64)

In [173]:
    # @markdown shot_long_hp_dura_contrib_poor selfcare_prac
df_selfcare['shot_long_hp_dura_contrib_poor selfcare_prac'].value_counts(),df_selfcare['shot_long_hp_dura_contrib_poor selfcare_prac'].value_counts(normalize=True)*100

(shot_long_hp_dura_contrib_poor selfcare_prac
 Disagree             90
 Agree                67
 Strongly Disagree    48
 Strongly Agree       45
 Name: count, dtype: int64,
 shot_long_hp_dura_contrib_poor selfcare_prac
 Disagree             36.0
 Agree                26.8
 Strongly Disagree    19.2
 Strongly Agree       18.0
 Name: proportion, dtype: float64)

In [174]:
      # @markdown miss_followup_appoint_hp_contrib_poor_selfcare_prac
df_selfcare['miss_followup_appoint_hp_contrib_poor_selfcare_prac'].value_counts(),df_selfcare['miss_followup_appoint_hp_contrib_poor_selfcare_prac'].value_counts(normalize=True)*100

(miss_followup_appoint_hp_contrib_poor_selfcare_prac
 Strongly Agree       139
 Agree                 71
 Disagree              26
 Strongly Disagree     14
 Name: count, dtype: int64,
 miss_followup_appoint_hp_contrib_poor_selfcare_prac
 Strongly Agree       55.6
 Agree                28.4
 Disagree             10.4
 Strongly Disagree     5.6
 Name: proportion, dtype: float64)



---


**GRAPH/PLOTS**

---